src/main/mule/day10-api-manager.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9c9bc718-f396-4f0e-8d57-70cb879bc46c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<api-gateway:autodiscovery apiId="16233212" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="0dff6f2b-075a-4c2e-884c-afa681e8a594" flowRef="day10-api-managerFlow" />
	<flow name="day10-api-managerFlow" doc:id="4a274939-9218-4cc7-acf1-f46ff735524d" >
		<http:listener doc:name="Listener" doc:id="9bc4d93c-d148-42c2-af23-54f9edf841ba" config-ref="HTTP_Listener_config" path="/greeting"/>
		<ee:transform doc:name="Transform Message" doc:id="76b9a2ec-f433-49ba-97e7-c5cd007ab684" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message:"Hello " ++ payload.name
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
